/* rubik-500 - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('/fonts/rubik-v14-latin-500.woff2') format('woff2'),
    url('/fonts/rubik-v14-latin-500.woff') format('woff');
}

/* rubik-regular - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('/fonts/rubik-v14-latin-regular.woff2') format('woff2'),
    url('/fonts/rubik-v14-latin-regular.woff') format('woff');
}

/* rubik-600 - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('/fonts/rubik-v14-latin-600.woff2') format('woff2'),
    url('/fonts/rubik-v14-latin-600.woff') format('woff');
}
